*.DS_Store
/uploads/

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

cdd/.idea/.name

cdd/.idea/cdd.iml

cdd/.idea/encodings.xml

cdd/.idea/misc.xml

cdd/.idea/modules.xml

cdd/.idea/scopes/scope_settings.xml

cdd/.idea/vcs.xml

cdd/.idea/workspace.xml
