body {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	color: #555;
	background-color: #b8babc;
}


h1 { font-size: 22px; }h2 {
	font-size: 20px;
}

h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
hr {
	background-color: #b8babc;
	height: 2px;
}


a { color: #1B94C4; }
		a:hover { text-decoration: none; color: #F7AF3A; }
		.actions ul {
	list-style-type: none;
}
 .actions ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
#login-box { width: 320px; }
.navigation { text-align: right; float: left; padding: 2px; margin: 5px; }
.navigation ul { float: right; padding: 5px; margin: 5px; display: block; list-style-type: none; }
.navigation li { display: block; float: left; list-style-type: none; }
.sidebar { 
  border-right-style: dashed; 
  border-bottom-color: black; 
  border-right-color: black; 
  border-bottom-style: dashed; 
  border-bottom-width: 1px; 
  border-right-width: 1px; 
  width: 100%;
  margin-left:9px; /* border + margin = 10px */
  margin-right:9px; /* border + margin = 10px */

}
.admin { /* background-color: #e7e7e7; */ }
		div#users-contain { margin-left: 0; margin-bottom: 0px; margin-right: 0; margin-top: 0px; }
		div#users-contain table { margin: 5px; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		td { }
		.admin h5 { /* color: #ff0711; */ }
                .logo img {
                    padding: 2px;
                }
		